@property --background-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #181818;
}

@property --primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #8774E1;
}

@property --white-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FDFDFD;
}

@property --grey-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #2c2c2c;
}

@property --grey-light-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #424242;
}

@property --error-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #F04438;
}

@property --warning-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FDB022;
}

@property --success-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #12B76A;
}

@property --black-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #161616;
}

@property --accent-color-deep {
    syntax: "<color>";
    inherits: false;
    initial-value: #7F56D9;
}

@property --accent-color-light {
    syntax: "<color>";
    inherits: false;
    initial-value: #D6BBFB;
}

@property --light-primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #F9F5FF;
}
