@property --background-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FDFDFD;
}

@property --primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #9E77ED;
}

@property --white-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FDFDFD;
}

@property --grey-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #E9EAEB;
}

@property --error-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #F04438;
}

@property --warning-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #FDB022;
}

@property --success-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #12B76A;
}

@property --black-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #0A0D12;
}

@property --accent-color-deep {
    syntax: "<color>";
    inherits: false;
    initial-value: #7F56D9;
}

@property --accent-color-light {
    syntax: "<color>";
    inherits: false;
    initial-value: #D6BBFB;
}

@property --light-primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #F9F5FF;
}
